@media screen and (max-width: 374px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .burger-menu-overlay {
    display: none; /* Modal ukryty */
  }

  /* Modal aktywowany poprzez dodanie klasy active */
  .burger-menu-overlay.active {
    display: flex; /* Pokazanie modalnego menu */
  }
}
/*============== MOBILE ======= */

/* Min width: 375px, Max width: 599px */
@media screen and (min-width: 375px) and (max-width: 599px) {
  .container {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .burger-menu-overlay {
    display: none; /* Modal ukryty */
  }

  /* Modal aktywowany poprzez dodanie klasy active */
  .burger-menu-overlay.active {
    display: flex; /* Pokazanie modalnego menu */
  }
}

/* Min width: 600px, Max width: 767px */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 600px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  .nav {
    display: none;
  }
  .burger {
    display: flex;
  }
  .burger-menu-overlay {
    display: none;
  }
  .burger-menu-overlay.active {
    display: flex;
  }

  .card {
    max-width: 460px;
    height: 430px;
    padding: 25px 25px;
  }
  .comfort__services .card img {
    max-width: 385px;
    height: 220px;
  }
  .comfort__services .card h4 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .comfort__services .card з {
    font-size: 16px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
  }
  .service {
    width: 274px;
  }
}

/* Min width: 768px, Max width: 899px */
@media screen and (min-width: 768px) and (max-width: 899px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .burger-menu-overlay {
    display: none;
  }

  .burger-menu-overlay.active {
    display: flex;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    max-width: 350px;
    height: 430px;
    padding: 25px 25px;
  }
  .comfort__services .card img {
    max-width: 305px;
    height: 220px;
  }
  .comfort__services .card h4 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .comfort__services .card p {
    font-size: 16px;
  }
  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service {
    width: 350px;
    padding: 30px;
  }
}

/* Min width: 900px, Max width: 1199px */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .container {
    width: 900px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .burger-menu-overlay {
    display: none;
  }

  .burger-menu-overlay.active {
    display: flex;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    max-width: 410px;
    height: 430px;
    padding: 25px 25px;
  }
  .comfort__services .card img {
    max-width: 350px;
    height: 220px;
  }
  .comfort__services .card h4 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .comfort__services .card p {
    font-size: 14px;
  }
  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service {
    width: 400px;
    height: 240px;
    padding: 30px;
  }

  .service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .service-box {
    width: 400px;
    margin-bottom: 0;
  }
}

/* Min width: 1200px and above */
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
  .nav {
    display: flex;
  }
  .nav__lists {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .burger {
    display: none; /* Ukryj burgera */
  }

  .burger-menu-overlay {
    display: none; /* Ukryj modalne menu */
  }

  .contact-icons {
    display: flex;
    gap: 40px;
  }
  .welcome {
    height: 900px;
  }
  .welcome__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.8;
    text-shadow: 2px 2px 2px rgb(62, 62, 66);
  }

  .welcome__link {
    height: 48px;
    max-width: 360px;
    justify-content: center;
    align-items: center;
    color: #676770;
    font-weight: 400;
    font-size: 24px;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .card {
    max-width: 350px;
    height: 410px;
    padding: 25px 25px;
  }
  .about__card {
    min-width: 264px;
    height: 120px;
  }
  .modal {
    display: none;
    position: fixed;
    top: 29px;
    left: 360px;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
  }
  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .service {
    width: 500px;
    height: 240px;
    padding: 30px;
  }
  .smart-control {
    padding-bottom: 80px;
  }
  .service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .service-box {
    width: 500px;
    margin-bottom: 0;
  }

  .footer {
    padding-top: 40px;
    border-top: 1px solid #e0e0e060;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .footer-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .footer-content {
    width: 100%;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .footer-container-form {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
  }
  .contact-details-ftr {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-soc-content {
    margin-top: 0;
    padding-left: 200px;
  }
}
