/*============== MOBILE ======= */

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .footer-content {
    margin: 0 auto;
  }

  .footer-description {
    text-align: start;
  }

  .footer-content-wrapper {
    text-align: center;
  }

  .footer-form-submit {
    margin: 0 auto;
  }

  /* .mobile-menu-link.current::after {
    display: block;
    content: '';
    background-color: #404bbf;
    width: 50%;
    height: 4px;
    border-radius: 2px;
    position: relative;
    left: 0;
    bottom: 0;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .page-header {
    width: 100%;
  }
  .page-headr-container {
    justify-content: space-between;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 84px;
    top: 90px;
  }

  .modal-content {
    background-color: #fffffff7;
    margin: 15% auto;
    padding: 50px 50px;
    border: 1px solid #888;

    width: 600px;
    height: 100%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    font-size: 18px;
  }

  .card {
    max-width: 350px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
  }
  .service {
    width: 350px;
  }

  .service-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .service-box {
    width: 350px;
    margin-bottom: 0;
  }
  .footer-content {
    width: 768px;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .footer-form-title {
    display: flex;
    justify-content: center;
  }
  .footer-soc-text {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .logo {
    margin-right: 76px;
    line-height: 1.33;
  }
  .mobile-menu-open {
    display: none;
  }

  .logo-header {
    padding-right: 80px;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  .contacts {
    display: flex;
  }
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .mail {
    margin-right: 40px;
  }

  .welcome {
    max-height: 800px;
  }

  .about .about__card {
    width: 260px;
    height: 130px;
    flex-direction: row;
  }
  .service-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .service-box {
    width: 280px;
    margin-bottom: 0;
  }
 
  .footer-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40PX ;
  }
  .footer-content {
    width: 100%;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .footer-container-form {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    
  }
  .contact-details-ftr {
    display: flex;
    flex-direction: column;
    row-gap: 20PX ;
  }
  .footer-soc-content {
    margin-top: 0;
    padding-left: 200px;
  }
}
